[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/vendor/start/coc.nvim"]
	path = .vim/pack/vendor/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".vim/pack/vendor/start/fzf.vim"]
	path = .vim/pack/vendor/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/vendor/start/fzf"]
	path = .vim/pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/pack/vendor/start/indentLine"]
	path = .vim/pack/vendor/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/pack/vendor/start/nerdcommenter"]
	path = .vim/pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
